body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0dadad5;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

header img {
    max-width: 10%;
    height: auto;
    border-radius: 50%;
    float: left;
}

header h1 {
    margin-top: 15px;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 132, 101); 
 border: 5px solid rgb(248, 239, 239);
border-radius: 35px;
padding: 10px;
    list-style: none;
    margin-left: 150px;
}
.nav ul li a {
    text-decoration: none;
    color: rgb(255, 251, 253);
    font-family: cursive;
    font-weight: 600;  
    border-radius: 10px;

}
    

        h2 {
            color: #333;
        }

        p {
            color: #555;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
   .fo{
       border: 1px solid black;
       margin-bottom: 10px;
       text-align: center;
   }
   .cta {
    text-align: center;
    padding: 2em;
    background-color: #333;
    color: white;
}

.cta h2 {
    font-size: 2em;
    margin-bottom: 20px;
     color: white;
}

.cta button {
    padding: 10px 20px;
    background-color: #fff;
    color: #333;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cta button a{
    text-decoration: none;
    color: #333;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
